
body
{
    font-family: Lucida Sans Unicode, Verdana, Arial, Geneva, Sans-Serif;
    font-size: 11px;
    width: 692px;
    margin: 25px auto 0 auto;
    padding: 0;
}

hr
{
	border-style: none;
	height: 2px;
	background: #AAA;
}

hr.host
{
	margin: 8px 0 8px 0;
}

table
{
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

td.rightBorder
{
	border-right: 2px solid #AAA;
}

select, input
{
	font-size: 11px;
	height: 18px;
	padding: 0;
	margin: 0;
}

div.background
{
    width: 692px; 
    margin: 0;
    padding: 15px;
    background: #EEE;
    border: 1px solid black;
}

div.synthSettingsDiv
{
	width: 660px;
	margin: 6px 0 0 1px;
	padding: 6px 15px 8px 15px;
	background: #DEDEDE;
	border: 1px solid #555;
}

div.hostSettingsDiv
{
	width: 660px;
	margin: 6px 0 0 0px;
	padding: 5px 15px 8px 15px;
	background: #EEE;
	border: 2px solid #333;

}

div.simpleInputNotes
{
	padding-left: 20px;
}

.boldTitle
{
	font-weight: bold;
	font-size: 14px;
}

.subtitle
{
	font-size: 12px;
}

.boldSubtitle
{
	font-weight: bold;
}

.commandAndControlsTable
{
	font-size: 11px;
	margin-left:auto;
	margin-right:auto;
}

.inputDeviceSelect
{
	width: 120px;
}

.audioDeviceSelect
{
	width: 190px;
}

.bankSelect
{
	width: 170px;
}

.presetSelect
{
	width: 200px;
}

.mixtureSelect
{
	width: 100px;
}

.ornamentsSelect
{
	width: 180px;
}

.tuningGroupSelect
{
	width: 195px;
}

.tuningSelect
{
	width: 375px;
}

.settingsSelect
{
	width: 310px;
	margin-right: 10px;
}

.keyboardSplitSelect
{
	width: 310px;
}

.channelPressureSelect
{
	width: 118px;
}

.triggerActionSelect
{
	width: 582px;
	margin: 0 4px auto auto;
}

.channelSelect
{
	width: 45px;
}

.recordingSelect
{
	width: 222px;
}

.alignRight
{
	text-align:right;
}

.numberInput
{
	width: 35px;
	height: 14px;
	padding:0 0 0 1px;
	margin: 0 3px 0 0;
}

.sendButtonInput
{
	width: 45px;
	margin: 0 5px 0 2px;
}

.exportSettingsButtonInput
{
	width: 126px;
	text-align: center;
}

.playRecordingButtonInput
{
	width: 130px;
}

.cancelPlaybackButtonInput
{
	width: 130px;
	background: #DDF;
	display: none;
}

.startRecordingButtonInput
{
	width: 110px;
}

.stopRecordingButtonInput
{
	width: 110px;
	background: #DFD;
	display: none;
}

.saveRecordingButtonInput
{
	width: 110px;
	margin-right: 2px;
	background: #DDF;
	display: none;
}

.discardRecordingButtonInput
{
	width: 110px;
	background: #FDD;
	display: none;
}

.continueAtStartButtonInput
{
	font-size:12px;
	height:24px;
	width:80px;
	margin-top:10px;
}

.checkBoxInput
{
	vertical-align:bottom;
}


