
body
{
    font-family: Lucida Sans Unicode, Verdana, Arial, Geneva, Sans-Serif;
    font-size: 11px;
    width: 692px;
    margin: 25px auto 0 auto;
    padding: 0;
}

div.background
{
    width: 692px; 
    margin: 0;
    padding: 15px;
    background: #EEE;
    border: 1px solid black;
}

div.synthSettingsDiv
{
	width: 660px;
	margin: 6px 0 0 1px;
	padding: 6px 15px 8px 15px;
	background: #DEDEDE;
	border: 1px solid #555;
}

div.hostSettingsDiv
{
	width: 660px;
	margin: 6px 0 0 0px;
	padding: 5px 15px 5px 15px;
	background: #EEE;
	border: 2px solid #333;

}

hr
{
    border-style: none;
    height: 2px;
    background: #AAA;
}

.boldTitle
{
	font-weight: bold;
	font-size: 14px;
}

.subtitle
{
	font-size: 12px;
}

.boldSubtitle
{
	font-weight: bold;
}

.midiMessagesTable
{
	font-size: 11px;
	margin-left:auto;
	margin-right:auto;
}

.left
{
	text-align:right;
}

.inputDeviceSelect
{
	font-size: 11px;
	width: 120px;
	height: 18px;
	margin-left: 0;
}

.audioDeviceSelect
{
	font-size: 11px;
	width: 190px;
	height: 18px;
	margin-left: 0;
}

.bankSelect
{
	font-size: 11px;
	width: 220px;
	height: 18px;
	margin: 0;
}

.presetSelect
{
	font-size: 11px;
	width: 290px;
	height: 18px;
	margin: 0 0 auto auto;
}

.mixtureSelect
{
	font-size: 11px;
	width: 135px;
	height: 18px;
	margin: 0;
}

.tuningGroupSelect
{
	font-size: 11px;
	width: 220px;
	height: 18px;
	margin-left: 0;
}

.tuningSelect
{
	font-size: 11px;
	width: 338px;
	height: 18px;
	margin: 0 0 auto auto;
}

.keyboardSplitSelect, .settingsSelect
{
	font-size: 11px;
	width: 385px;
	height: 18px;
	margin-left: 0;
	margin-right: 0;
}

.channelPressureSelect
{
	font-size: 11px;
	width: 100px;
	height: 18px;
	margin-left: 0;
	margin-right: 0;
}


.ornamentsSelect
{
	font-size: 11px;
	width: 590px;
	height: 18px;
	margin-left: 0;
	margin-right: 0;
}

.exportSettingsButton
{
	font-size: 11px;
	height: 18px;
}

.triggerActionSelect
{
	font-size: 11px;
	width: 582px;
	height: 18px;
	margin: 0 4px auto auto;
}

.channelSelect
{
	font-size: 11px;
	width: 45px;
	height: 18px;
	margin-left: 0;
	margin-right: 0;
}

.tuningNumber
{
	font-size: 11px;
	width: 34px;
	margin-left: 0;
	margin-right: 0;
}

.triggerKeyNumber
{
	font-size: 11px;
	width: 35px;
	margin-left: 0;
	margin-right: 0;
}

.number
{
	font-size: 11px;
	width: 41px;
	margin-left: 0;
	margin-right: 4px;
}

.sendAgainButton
{
	font-size: 11px;
	height: 18px;
}

.sendButton
{
	font-size: 11px;
	height: 18px;
	width: 45px;
	margin-right: 5px;
}

.recordingSelect
{
	font-size: 11px;
	width: 222px;
	height: 18px;
	margin-left: 0;
	margin-right: 0;
}

.playRecordingButton
{
	font-size: 11px;
	height: 18px;
	width: 130px;
	margin-left: 0;
	margin-right: 0;
}

.cancelPlaybackButton
{
	font-size: 11px;
	height: 18px;
	width: 130px;
	margin-left: 0;
	margin-right: 0;
	background: #DDF;
	display: none;
}

.startRecordingButton
{
	font-size: 11px;
	width: 110px;
	height: 18px;
	margin-left: 0;
	margin-right: 0;
}

.stopRecordingButton
{
	font-size: 11px;
	width: 110px;
	height: 18px;
	margin-left: 0;
	margin-right: 0;
	background: #DFD;
	display: none;
}

.saveRecordingButton
{
	font-size: 11px;
	width: 110px;
	height: 18px;
	margin-left: 0;
	margin-right: 2px;
	background: #DDF;
	display: none;
}

.discardRecordingButton
{
	font-size: 11px;
	width: 110px;
	height: 18px;
	margin-left: 0;
	margin-right: 0;
	background: #FDD;
	display: none;
}

.smallButton
{
	font-size:11px;
	height:22px;
}

.largeButton
{
	font-size:12px;
	height:24px;
	width:80px;
	margin-top:10px;
}


